html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 640px;
}

body {
  display: flex;
  flex-direction: column;
}

.top-header {
  padding: 20px;
  display: flex;
}

.top-header h1 {
  margin: 0 20px 0 0;
}

.main-surface {
  flex: 1;
  display: flex;
}

.message-list {
  padding: 0 0 40px 0;
  margin: 0;
  flex-basis: 320px;
  border: 1px solid #cdcdcd;
  overflow-y: scroll;
  font-size: 14px;
  font-family: monospace;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.message-list-item {
  list-style: none;
  padding: 2px 4px;
  white-space: pre;
}

.message-list-item.selected {
  text-decoration: underline;
}

.message-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.message-list-item:nth-child(even) {
  background: #efefef;
}

.message-toolbar {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #cdcdcd;
  border-left: none;
  border-right: none;
  padding: 5px 0;
}

.message-tool {
  margin: 5px 10px;
}

.color-tool button {
  border: 1px solid #cdcdcd;
  width: 1em;
  height: 1em;
  cursor: pointer;
  padding: 0;
}

.color-tool .color-white      { background: #ffffff; }
.color-tool .color-red        { background: #ff3c3c; }
.color-tool .color-green      { background: #46ff50; }
.color-tool .color-blue       { background: #505aff; }
.color-tool .color-light-blue { background: #64b4ff; }
.color-tool .color-pink       { background: #ff96b4; }
.color-tool .color-yellow     { background: #e1ff32; }
.color-tool .color-black      { background: #000000; }

.message-container {
  flex: 1;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: url(../images/editor-bg.png);
  background-size: cover;
  overflow: auto;
}

.message {
  background: rgba(0, 0, 0, 0.33);
  white-space: pre;
  padding: 40px;
  color: #ffffff;
  font-family: monospace;
  font-size: 20px;
  border-radius: 24px;
  overflow: auto;
  outline: none;
  text-shadow: 1px 1px 1px #000000;
}

.message .color-white      { color: #ffffff; }
.message .color-red        { color: #ff3c3c; }
.message .color-green      { color: #46ff50; }
.message .color-blue       { color: #505aff; }
.message .color-light-blue { color: #64b4ff; }
.message .color-pink       { color: #ff96b4; }
.message .color-yellow     { color: #e1ff32; }
.message .color-black      { color: #000000; }

/*.message .space-strip {
  color: #cdcdcd;
}*/

.message .wait-box-break {
  display: block;
  border-top: solid 1px #cdcdcd;
  margin: 12px 0;
}

.message .marker {
  /*background: #cdcdcd;*/
}