.message {
  white-space: pre;
}

.message .color {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #cdcdcd;
}

.message .color.white {
  background: #ffffff;
}

.message .color.red {
  background: #ff0000;
}

.message .color.green {
  background: #00ff00;
}

.message .color.blue {
  background: #0000ff;
}

.message .color.light-blue {
  background: #7f7fff;
}

.message .color.pink {
  background: #ff7f7f;
}

.message .color.yellow {
  background: #ffff00;
}

.message .color.black {
  background: #000000;
}

.message .space-strip {
  color: #cdcdcd;
}

.message .wait-keypress-break {
  display: block;
}